:root {
    --color-primary-light: 0, 103, 130;
    --color-on-primary-light: 255, 255, 255;
    --color-primary-container-light: 187, 233, 255;
    --color-on-primary-container-light: 0, 31, 41;
    --color-secondary-light: 76, 97, 107;
    --color-on-secondary-light: 255, 255, 255;
    --color-secondary-container-light: 207, 230, 242;
    --color-on-secondary-container-light: 8, 30, 38;
    --color-tertiary-light: 92, 91, 126;
    --color-on-tertiary-light: 255, 255, 255;
    --color-tertiary-container-light: 226, 223, 255;
    --color-on-tertiary-container-light: 24, 24, 55;
    --color-error-light: 186, 26, 26;
    --color-on-error-light: 255, 255, 255;
    --color-error-container-light: 255, 218, 214;
    --color-on-error-container-light: 65, 0, 2;
    --color-background-light: 251, 252, 254;
    --color-on-background-light: 25, 28, 30;
    --color-surface-light: 251, 252, 254;
    --color-on-surface-light: 25, 28, 30;
    --color-surface-variant-light: 220, 228, 232;
    --color-on-surface-variant-light: 64, 72, 76;
    --color-outline-light: 112, 120, 125;
    --color-outline-variant-light: 192, 200, 204;
    --color-shadow-light: 0, 0, 0;
    --color-scrim-light: 0, 0, 0;
    --color-inverse-surface-light: 46, 49, 50;
    --color-inverse-on-surface-light: 239, 241, 243;
    --color-inverse-primary-light: 94, 212, 255;
    --color-surface-dim-light: 216, 218, 220;
    --color-surface-bright-light: 248, 249, 251;
    --color-surface-container-lowest-light: 255, 255, 255;
    --color-surface-container-low-light: 242, 244, 245;
    --color-surface-container-light: 237, 238, 240;
    --color-surface-container-high-light: 231, 232, 234;
    --color-surface-container-highest-light: 225, 227, 228;
    --color-surface-tint-color-light: 0, 103, 130;
    --color-primary-dark: 94, 212, 255;
    --color-on-primary-dark: 0, 53, 69;
    --color-primary-container-dark: 0, 77, 99;
    --color-on-primary-container-dark: 187, 233, 255;
    --color-secondary-dark: 180, 202, 213;
    --color-on-secondary-dark: 30, 51, 60;
    --color-secondary-container-dark: 53, 74, 83;
    --color-on-secondary-container-dark: 207, 230, 242;
    --color-tertiary-dark: 197, 195, 234;
    --color-on-tertiary-dark: 45, 45, 77;
    --color-tertiary-container-dark: 68, 68, 101;
    --color-on-tertiary-container-dark: 226, 223, 255;
    --color-error-dark: 255, 180, 171;
    --color-on-error-dark: 105, 0, 5;
    --color-error-container-dark: 147, 0, 10;
    --color-on-error-container-dark: 255, 180, 171;
    --color-background-dark: 25, 28, 30;
    --color-on-background-dark: 225, 227, 228;
    --color-surface-dark: 25, 28, 30;
    --color-on-surface-dark: 225, 227, 228;
    --color-surface-variant-dark: 64, 72, 76;
    --color-on-surface-variant-dark: 192, 200, 204;
    --color-outline-dark: 138, 146, 150;
    --color-outline-variant-dark: 64, 72, 76;
    --color-shadow-dark: 0, 0, 0;
    --color-scrim-dark: 0, 0, 0;
    --color-inverse-surface-dark: 225, 227, 228;
    --color-inverse-on-surface-dark: 46, 49, 50;
    --color-inverse-primary-dark: 0, 103, 130;
    --color-surface-dim-dark: 17, 20, 21;
    --color-surface-bright-dark: 55, 58, 59;
    --color-surface-container-lowest-dark: 12, 15, 16;
    --color-surface-container-low-dark: 25, 28, 30;
    --color-surface-container-dark: 29, 32, 34;
    --color-surface-container-high-dark: 39, 42, 44;
    --color-surface-container-highest-dark: 50, 53, 55;
    --color-surface-tint-color-dark: 94, 212, 255;
    --color-green-primary-light: 0, 110, 28;
    --color-green-primary-dark: 126, 219, 123;
    --color-yellow-primary-light: 101, 83, 0;
    --color-yellow-primary-dark: 216, 194, 87;

    --color-green-primary-light: 0, 110, 28;
    --color-green-on-primary-light: 255, 255, 255;
    --color-green-primary-container-light: 153, 248, 148;
    --color-green-on-primary-container-light: 0, 34, 4;
    --color-green-secondary-light: 82, 99, 79;
    --color-green-on-secondary-light: 255, 255, 255;
    --color-green-secondary-container-light: 213, 232, 207;
    --color-green-on-secondary-container-light: 17, 31, 15;
    --color-green-tertiary-light: 56, 101, 106;
    --color-green-on-tertiary-light: 255, 255, 255;
    --color-green-tertiary-container-light: 188, 235, 240;
    --color-green-on-tertiary-container-light: 0, 32, 35;
    --color-green-error-light: 186, 26, 26;
    --color-green-on-error-light: 255, 255, 255;
    --color-green-error-container-light: 255, 218, 214;
    --color-green-on-error-container-light: 65, 0, 2;
    --color-green-background-light: 252, 253, 246;
    --color-green-on-background-light: 26, 28, 25;
    --color-green-surface-light: 252, 253, 246;
    --color-green-on-surface-light: 26, 28, 25;
    --color-green-surface-variant-light: 222, 229, 216;
    --color-green-on-surface-variant-light: 66, 73, 64;
    --color-green-outline-light: 114, 121, 111;
    --color-green-outline-variant-light: 194, 201, 189;
    --color-green-shadow-light: 0, 0, 0;
    --color-green-scrim-light: 0, 0, 0;
    --color-green-inverse-surface-light: 47, 49, 45;
    --color-green-inverse-on-surface-light: 240, 241, 235;
    --color-green-inverse-primary-light: 126, 219, 123;
    --color-green-surface-dim-light: 218, 218, 212;
    --color-green-surface-bright-light: 249, 250, 243;
    --color-green-surface-container-lowest-light: 255, 255, 255;
    --color-green-surface-container-low-light: 243, 244, 238;
    --color-green-surface-container-light: 238, 238, 232;
    --color-green-surface-container-high-light: 232, 233, 226;
    --color-green-surface-container-highest-light: 226, 227, 221;
    --color-green-surface-tint-color-light: 0, 110, 28;
    --color-green-primary-dark: 126, 219, 123;
    --color-green-on-primary-dark: 0, 57, 10;
    --color-green-primary-container-dark: 0, 83, 19;
    --color-green-on-primary-container-dark: 153, 248, 148;
    --color-green-secondary-dark: 186, 204, 179;
    --color-green-on-secondary-dark: 37, 52, 35;
    --color-green-secondary-container-dark: 59, 75, 56;
    --color-green-on-secondary-container-dark: 213, 232, 207;
    --color-green-tertiary-dark: 160, 207, 212;
    --color-green-on-tertiary-dark: 0, 54, 59;
    --color-green-tertiary-container-dark: 31, 77, 82;
    --color-green-on-tertiary-container-dark: 188, 235, 240;
    --color-green-error-dark: 255, 180, 171;
    --color-green-on-error-dark: 105, 0, 5;
    --color-green-error-container-dark: 147, 0, 10;
    --color-green-on-error-container-dark: 255, 180, 171;
    --color-green-background-dark: 26, 28, 25;
    --color-green-on-background-dark: 226, 227, 221;
    --color-green-surface-dark: 26, 28, 25;
    --color-green-on-surface-dark: 226, 227, 221;
    --color-green-surface-variant-dark: 66, 73, 64;
    --color-green-on-surface-variant-dark: 194, 201, 189;
    --color-green-outline-dark: 140, 147, 136;
    --color-green-outline-variant-dark: 66, 73, 64;
    --color-green-shadow-dark: 0, 0, 0;
    --color-green-scrim-dark: 0, 0, 0;
    --color-green-inverse-surface-dark: 226, 227, 221;
    --color-green-inverse-on-surface-dark: 47, 49, 45;
    --color-green-inverse-primary-dark: 0, 110, 28;
    --color-green-surface-dim-dark: 18, 20, 17;
    --color-green-surface-bright-dark: 56, 58, 54;
    --color-green-surface-container-lowest-dark: 12, 15, 12;
    --color-green-surface-container-low-dark: 26, 28, 25;
    --color-green-surface-container-dark: 30, 32, 29;
    --color-green-surface-container-high-dark: 40, 43, 39;
    --color-green-surface-container-highest-dark: 51, 53, 49;
    --color-green-surface-tint-color-dark: 126, 219, 123;

    --color-yellow-primary-light: 105, 95, 0;
    --color-yellow-on-primary-light: 255, 255, 255;
    --color-yellow-primary-container-light: 245, 229, 104;
    --color-yellow-on-primary-container-light: 32, 28, 0;
    --color-yellow-secondary-light: 100, 95, 65;
    --color-yellow-on-secondary-light: 255, 255, 255;
    --color-yellow-secondary-container-light: 235, 227, 189;
    --color-yellow-on-secondary-container-light: 31, 28, 5;
    --color-yellow-tertiary-light: 65, 102, 82;
    --color-yellow-on-tertiary-light: 255, 255, 255;
    --color-yellow-tertiary-container-light: 194, 236, 210;
    --color-yellow-on-tertiary-container-light: 0, 33, 19;
    --color-yellow-error-light: 186, 26, 26;
    --color-yellow-on-error-light: 255, 255, 255;
    --color-yellow-error-container-light: 255, 218, 214;
    --color-yellow-on-error-container-light: 65, 0, 2;
    --color-yellow-background-light: 255, 251, 255;
    --color-yellow-on-background-light: 29, 28, 22;
    --color-yellow-surface-light: 255, 251, 255;
    --color-yellow-on-surface-light: 29, 28, 22;
    --color-yellow-surface-variant-light: 232, 226, 208;
    --color-yellow-on-surface-variant-light: 74, 71, 58;
    --color-yellow-outline-light: 123, 119, 104;
    --color-yellow-outline-variant-light: 204, 198, 181;
    --color-yellow-shadow-light: 0, 0, 0;
    --color-yellow-scrim-light: 0, 0, 0;
    --color-yellow-inverse-surface-light: 50, 48, 42;
    --color-yellow-inverse-on-surface-light: 245, 240, 231;
    --color-yellow-inverse-primary-light: 216, 200, 79;
    --color-yellow-surface-dim-light: 222, 217, 209;
    --color-yellow-surface-bright-light: 254, 249, 240;
    --color-yellow-surface-container-lowest-light: 255, 255, 255;
    --color-yellow-surface-container-low-light: 248, 243, 234;
    --color-yellow-surface-container-light: 242, 237, 228;
    --color-yellow-surface-container-high-light: 236, 232, 223;
    --color-yellow-surface-container-highest-light: 231, 226, 217;
    --color-yellow-surface-tint-color-light: 105, 95, 0;
    --color-yellow-primary-dark: 216, 200, 79;
    --color-yellow-on-primary-dark: 55, 49, 0;
    --color-yellow-primary-container-dark: 79, 71, 0;
    --color-yellow-on-primary-container-dark: 245, 229, 104;
    --color-yellow-secondary-dark: 206, 199, 162;
    --color-yellow-on-secondary-dark: 53, 49, 23;
    --color-yellow-secondary-container-dark: 76, 71, 43;
    --color-yellow-on-secondary-container-dark: 235, 227, 189;
    --color-yellow-tertiary-dark: 167, 208, 183;
    --color-yellow-on-tertiary-dark: 17, 55, 38;
    --color-yellow-tertiary-container-dark: 41, 78, 59;
    --color-yellow-on-tertiary-container-dark: 194, 236, 210;
    --color-yellow-error-dark: 255, 180, 171;
    --color-yellow-on-error-dark: 105, 0, 5;
    --color-yellow-error-container-dark: 147, 0, 10;
    --color-yellow-on-error-container-dark: 255, 180, 171;
    --color-yellow-background-dark: 29, 28, 22;
    --color-yellow-on-background-dark: 231, 226, 217;
    --color-yellow-surface-dark: 29, 28, 22;
    --color-yellow-on-surface-dark: 231, 226, 217;
    --color-yellow-surface-variant-dark: 74, 71, 58;
    --color-yellow-on-surface-variant-dark: 204, 198, 181;
    --color-yellow-outline-dark: 149, 145, 129;
    --color-yellow-outline-variant-dark: 74, 71, 58;
    --color-yellow-shadow-dark: 0, 0, 0;
    --color-yellow-scrim-dark: 0, 0, 0;
    --color-yellow-inverse-surface-dark: 231, 226, 217;
    --color-yellow-inverse-on-surface-dark: 50, 48, 42;
    --color-yellow-inverse-primary-dark: 105, 95, 0;
    --color-yellow-surface-dim-dark: 20, 19, 14;
    --color-yellow-surface-bright-dark: 59, 57, 51;
    --color-yellow-surface-container-lowest-dark: 15, 14, 9;
    --color-yellow-surface-container-low-dark: 29, 28, 22;
    --color-yellow-surface-container-dark: 33, 32, 26;
    --color-yellow-surface-container-high-dark: 43, 42, 36;
    --color-yellow-surface-container-highest-dark: 54, 53, 47;
    --color-yellow-surface-tint-color-dark: 216, 200, 79;

    --color-primary: var(--color-primary-light);
    --color-on-primary: var(--color-on-primary-light);
    --color-primary-container: var(--color-primary-container-light);
    --color-on-primary-container: var(--color-on-primary-container-light);
    --color-secondary: var(--color-secondary-light);
    --color-on-secondary: var(--color-on-secondary-light);
    --color-secondary-container: var(--color-secondary-container-light);
    --color-on-secondary-container: var(--color-on-secondary-container-light);
    --color-tertiary: var(--color-tertiary-light);
    --color-on-tertiary: var(--color-on-tertiary-light);
    --color-tertiary-container: var(--color-tertiary-container-light);
    --color-on-tertiary-container: var(--color-on-tertiary-container-light);
    --color-error: var(--color-error-light);
    --color-on-error: var(--color-on-error-light);
    --color-error-container: var(--color-error-container-light);
    --color-on-error-container: var(--color-on-error-container-light);
    --color-background: var(--color-background-light);
    --color-on-background: var(--color-on-background-light);
    --color-surface: var(--color-surface-light);
    --color-on-surface: var(--color-on-surface-light);
    --color-surface-variant: var(--color-surface-variant-light);
    --color-on-surface-variant: var(--color-on-surface-variant-light);
    --color-outline: var(--color-outline-light);
    --color-outline-variant: var(--color-outline-variant-light);
    --color-shadow: var(--color-shadow-light);
    --color-scrim: var(--color-scrim-light);
    --color-inverse-surface: var(--color-inverse-surface-light);
    --color-inverse-on-surface: var(--color-inverse-on-surface-light);
    --color-inverse-primary: var(--color-inverse-primary-light);
    --color-surface-dim: var(--color-surface-dim-light);
    --color-surface-bright: var(--color-surface-bright-light);
    --color-surface-container-lowest: var(--color-surface-container-lowest-light);
    --color-surface-container-low: var(--color-surface-container-low-light);
    --color-surface-container: var(--color-surface-container-light);
    --color-surface-container-high: var(--color-surface-container-high-light);
    --color-surface-container-highest: var(--color-surface-container-highest-light);
    --color-surface-tint-color: var(--color-surface-tint-color-light);

    --color-green-primary: var(--color-green-primary-light);
    --color-green-on-primary: var(--color-green-on-primary-light);
    --color-green-primary-container: var(--color-green-primary-container-light);
    --color-green-on-primary-container: var(--color-green-on-primary-container-light);
    --color-green-secondary: var(--color-green-secondary-light);
    --color-green-on-secondary: var(--color-green-on-secondary-light);
    --color-green-secondary-container: var(--color-green-secondary-container-light);
    --color-green-on-secondary-container: var(--color-green-on-secondary-container-light);
    --color-green-tertiary: var(--color-green-tertiary-light);
    --color-green-on-tertiary: var(--color-green-on-tertiary-light);
    --color-green-tertiary-container: var(--color-green-tertiary-container-light);
    --color-green-on-tertiary-container: var(--color-green-on-tertiary-container-light);
    --color-green-error: var(--color-green-error-light);
    --color-green-on-error: var(--color-green-on-error-light);
    --color-green-error-container: var(--color-green-error-container-light);
    --color-green-on-error-container: var(--color-green-on-error-container-light);
    --color-green-background: var(--color-green-background-light);
    --color-green-on-background: var(--color-green-on-background-light);
    --color-green-surface: var(--color-green-surface-light);
    --color-green-on-surface: var(--color-green-on-surface-light);
    --color-green-surface-variant: var(--color-green-surface-variant-light);
    --color-green-on-surface-variant: var(--color-green-on-surface-variant-light);
    --color-green-outline: var(--color-green-outline-light);
    --color-green-outline-variant: var(--color-green-outline-variant-light);
    --color-green-shadow: var(--color-green-shadow-light);
    --color-green-scrim: var(--color-green-scrim-light);
    --color-green-inverse-surface: var(--color-green-inverse-surface-light);
    --color-green-inverse-on-surface: var(--color-green-inverse-on-surface-light);
    --color-green-inverse-primary: var(--color-green-inverse-primary-light);
    --color-green-surface-dim: var(--color-green-surface-dim-light);
    --color-green-surface-bright: var(--color-green-surface-bright-light);
    --color-green-surface-container-lowest: var(--color-green-surface-container-lowest-light);
    --color-green-surface-container-low: var(--color-green-surface-container-low-light);
    --color-green-surface-container: var(--color-green-surface-container-light);
    --color-green-surface-container-high: var(--color-green-surface-container-high-light);
    --color-green-surface-container-highest: var(--color-green-surface-container-highest-light);
    --color-green-surface-tint-color: var(--color-green-surface-tint-color-light);

    --color-yellow-primary: var(--color-yellow-primary-light);
    --color-yellow-on-primary: var(--color-yellow-on-primary-light);
    --color-yellow-primary-container: var(--color-yellow-primary-container-light);
    --color-yellow-on-primary-container: var(--color-yellow-on-primary-container-light);
    --color-yellow-secondary: var(--color-yellow-secondary-light);
    --color-yellow-on-secondary: var(--color-yellow-on-secondary-light);
    --color-yellow-secondary-container: var(--color-yellow-secondary-container-light);
    --color-yellow-on-secondary-container: var(--color-yellow-on-secondary-container-light);
    --color-yellow-tertiary: var(--color-yellow-tertiary-light);
    --color-yellow-on-tertiary: var(--color-yellow-on-tertiary-light);
    --color-yellow-tertiary-container: var(--color-yellow-tertiary-container-light);
    --color-yellow-on-tertiary-container: var(--color-yellow-on-tertiary-container-light);
    --color-yellow-error: var(--color-yellow-error-light);
    --color-yellow-on-error: var(--color-yellow-on-error-light);
    --color-yellow-error-container: var(--color-yellow-error-container-light);
    --color-yellow-on-error-container: var(--color-yellow-on-error-container-light);
    --color-yellow-background: var(--color-yellow-background-light);
    --color-yellow-on-background: var(--color-yellow-on-background-light);
    --color-yellow-surface: var(--color-yellow-surface-light);
    --color-yellow-on-surface: var(--color-yellow-on-surface-light);
    --color-yellow-surface-variant: var(--color-yellow-surface-variant-light);
    --color-yellow-on-surface-variant: var(--color-yellow-on-surface-variant-light);
    --color-yellow-outline: var(--color-yellow-outline-light);
    --color-yellow-outline-variant: var(--color-yellow-outline-variant-light);
    --color-yellow-shadow: var(--color-yellow-shadow-light);
    --color-yellow-scrim: var(--color-yellow-scrim-light);
    --color-yellow-inverse-surface: var(--color-yellow-inverse-surface-light);
    --color-yellow-inverse-on-surface: var(--color-yellow-inverse-on-surface-light);
    --color-yellow-inverse-primary: var(--color-yellow-inverse-primary-light);
    --color-yellow-surface-dim: var(--color-yellow-surface-dim-light);
    --color-yellow-surface-bright: var(--color-yellow-surface-bright-light);
    --color-yellow-surface-container-lowest: var(--color-yellow-surface-container-lowest-light);
    --color-yellow-surface-container-low: var(--color-yellow-surface-container-low-light);
    --color-yellow-surface-container: var(--color-yellow-surface-container-light);
    --color-yellow-surface-container-high: var(--color-yellow-surface-container-high-light);
    --color-yellow-surface-container-highest: var(--color-yellow-surface-container-highest-light);
    --color-yellow-surface-tint-color: var(--color-yellow-surface-tint-color-light);
}

html.dark,
html[data-darkmode="true"] {
    --color-primary: var(--color-primary-dark);
    --color-on-primary: var(--color-on-primary-dark);
    --color-primary-container: var(--color-primary-container-dark);
    --color-on-primary-container: var(--color-on-primary-container-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-on-secondary: var(--color-on-secondary-dark);
    --color-secondary-container: var(--color-secondary-container-dark);
    --color-on-secondary-container: var(--color-on-secondary-container-dark);
    --color-tertiary: var(--color-tertiary-dark);
    --color-on-tertiary: var(--color-on-tertiary-dark);
    --color-tertiary-container: var(--color-tertiary-container-dark);
    --color-on-tertiary-container: var(--color-on-tertiary-container-dark);
    --color-error: var(--color-error-dark);
    --color-on-error: var(--color-on-error-dark);
    --color-error-container: var(--color-error-container-dark);
    --color-on-error-container: var(--color-on-error-container-dark);
    --color-background: var(--color-background-dark);
    --color-on-background: var(--color-on-background-dark);
    --color-surface: var(--color-surface-dark);
    --color-on-surface: var(--color-on-surface-dark);
    --color-surface-variant: var(--color-surface-variant-dark);
    --color-on-surface-variant: var(--color-on-surface-variant-dark);
    --color-outline: var(--color-outline-dark);
    --color-outline-variant: var(--color-outline-variant-dark);
    --color-shadow: var(--color-shadow-dark);
    --color-scrim: var(--color-scrim-dark);
    --color-inverse-surface: var(--color-inverse-surface-dark);
    --color-inverse-on-surface: var(--color-inverse-on-surface-dark);
    --color-inverse-primary: var(--color-inverse-primary-dark);
    --color-surface-dim: var(--color-surface-dim-dark);
    --color-surface-bright: var(--color-surface-bright-dark);
    --color-surface-container-lowest: var(--color-surface-container-lowest-dark);
    --color-surface-container-low: var(--color-surface-container-low-dark);
    --color-surface-container: var(--color-surface-container-dark);
    --color-surface-container-high: var(--color-surface-container-high-dark);
    --color-surface-container-highest: var(--color-surface-container-highest-dark);
    --color-surface-tint-color: var(--color-surface-tint-color-dark);

    --color-green-primary: var(--color-green-primary-dark);
    --color-green-on-primary: var(--color-green-on-primary-dark);
    --color-green-primary-container: var(--color-green-primary-container-dark);
    --color-green-on-primary-container: var(--color-green-on-primary-container-dark);
    --color-green-secondary: var(--color-green-secondary-dark);
    --color-green-on-secondary: var(--color-green-on-secondary-dark);
    --color-green-secondary-container: var(--color-green-secondary-container-dark);
    --color-green-on-secondary-container: var(--color-green-on-secondary-container-dark);
    --color-green-tertiary: var(--color-green-tertiary-dark);
    --color-green-on-tertiary: var(--color-green-on-tertiary-dark);
    --color-green-tertiary-container: var(--color-green-tertiary-container-dark);
    --color-green-on-tertiary-container: var(--color-green-on-tertiary-container-dark);
    --color-green-error: var(--color-green-error-dark);
    --color-green-on-error: var(--color-green-on-error-dark);
    --color-green-error-container: var(--color-green-error-container-dark);
    --color-green-on-error-container: var(--color-green-on-error-container-dark);
    --color-green-background: var(--color-green-background-dark);
    --color-green-on-background: var(--color-green-on-background-dark);
    --color-green-surface: var(--color-green-surface-dark);
    --color-green-on-surface: var(--color-green-on-surface-dark);
    --color-green-surface-variant: var(--color-green-surface-variant-dark);
    --color-green-on-surface-variant: var(--color-green-on-surface-variant-dark);
    --color-green-outline: var(--color-green-outline-dark);
    --color-green-outline-variant: var(--color-green-outline-variant-dark);
    --color-green-shadow: var(--color-green-shadow-dark);
    --color-green-scrim: var(--color-green-scrim-dark);
    --color-green-inverse-surface: var(--color-green-inverse-surface-dark);
    --color-green-inverse-on-surface: var(--color-green-inverse-on-surface-dark);
    --color-green-inverse-primary: var(--color-green-inverse-primary-dark);
    --color-green-surface-dim: var(--color-green-surface-dim-dark);
    --color-green-surface-bright: var(--color-green-surface-bright-dark);
    --color-green-surface-container-lowest: var(--color-green-surface-container-lowest-dark);
    --color-green-surface-container-low: var(--color-green-surface-container-low-dark);
    --color-green-surface-container: var(--color-green-surface-container-dark);
    --color-green-surface-container-high: var(--color-green-surface-container-high-dark);
    --color-green-surface-container-highest: var(--color-green-surface-container-highest-dark);
    --color-green-surface-tint-color: var(--color-green-surface-tint-color-dark);

    --color-yellow-primary: var(--color-yellow-primary-dark);
    --color-yellow-on-primary: var(--color-yellow-on-primary-dark);
    --color-yellow-primary-container: var(--color-yellow-primary-container-dark);
    --color-yellow-on-primary-container: var(--color-yellow-on-primary-container-dark);
    --color-yellow-secondary: var(--color-yellow-secondary-dark);
    --color-yellow-on-secondary: var(--color-yellow-on-secondary-dark);
    --color-yellow-secondary-container: var(--color-yellow-secondary-container-dark);
    --color-yellow-on-secondary-container: var(--color-yellow-on-secondary-container-dark);
    --color-yellow-tertiary: var(--color-yellow-tertiary-dark);
    --color-yellow-on-tertiary: var(--color-yellow-on-tertiary-dark);
    --color-yellow-tertiary-container: var(--color-yellow-tertiary-container-dark);
    --color-yellow-on-tertiary-container: var(--color-yellow-on-tertiary-container-dark);
    --color-yellow-error: var(--color-yellow-error-dark);
    --color-yellow-on-error: var(--color-yellow-on-error-dark);
    --color-yellow-error-container: var(--color-yellow-error-container-dark);
    --color-yellow-on-error-container: var(--color-yellow-on-error-container-dark);
    --color-yellow-background: var(--color-yellow-background-dark);
    --color-yellow-on-background: var(--color-yellow-on-background-dark);
    --color-yellow-surface: var(--color-yellow-surface-dark);
    --color-yellow-on-surface: var(--color-yellow-on-surface-dark);
    --color-yellow-surface-variant: var(--color-yellow-surface-variant-dark);
    --color-yellow-on-surface-variant: var(--color-yellow-on-surface-variant-dark);
    --color-yellow-outline: var(--color-yellow-outline-dark);
    --color-yellow-outline-variant: var(--color-yellow-outline-variant-dark);
    --color-yellow-shadow: var(--color-yellow-shadow-dark);
    --color-yellow-scrim: var(--color-yellow-scrim-dark);
    --color-yellow-inverse-surface: var(--color-yellow-inverse-surface-dark);
    --color-yellow-inverse-on-surface: var(--color-yellow-inverse-on-surface-dark);
    --color-yellow-inverse-primary: var(--color-yellow-inverse-primary-dark);
    --color-yellow-surface-dim: var(--color-yellow-surface-dim-dark);
    --color-yellow-surface-bright: var(--color-yellow-surface-bright-dark);
    --color-yellow-surface-container-lowest: var(--color-yellow-surface-container-lowest-dark);
    --color-yellow-surface-container-low: var(--color-yellow-surface-container-low-dark);
    --color-yellow-surface-container: var(--color-yellow-surface-container-dark);
    --color-yellow-surface-container-high: var(--color-yellow-surface-container-high-dark);
    --color-yellow-surface-container-highest: var(--color-yellow-surface-container-highest-dark);
    --color-yellow-surface-tint-color: var(--color-yellow-surface-tint-color-dark);

    color-scheme: dark;
}
