:root {
    --typescale-display-large-weight: 400;
    --typescale-display-medium-weight: 400;
    --typescale-display-small-weight: 400;
    --typescale-display-large-line-height: 64px;
    --typescale-display-medium-line-height: 52px;
    --typescale-display-small-line-height: 44px;
    --typescale-display-large-size: 57px;
    --typescale-display-medium-size: 45px;
    --typescale-display-small-size: 36px;
    --typescale-display-large-tracking: 0px;
    --typescale-display-medium-tracking: 0px;
    --typescale-display-small-tracking: 0px;

    --typescale-headline-large-weight: 400;
    --typescale-headline-medium-weight: 400;
    --typescale-headline-small-weight: 400;
    --typescale-headline-large-line-height: 40px;
    --typescale-headline-medium-line-height: 36px;
    --typescale-headline-small-line-height: 32px;
    --typescale-headline-large-size: 32px;
    --typescale-headline-medium-size: 28px;
    --typescale-headline-small-size: 24px;
    --typescale-headline-large-tracking: 0px;
    --typescale-headline-medium-tracking: 0px;
    --typescale-headline-small-tracking: 0px;

    --typescale-title-large-weight: 400;
    --typescale-title-medium-weight: 500;
    --typescale-title-small-weight: 500;
    --typescale-title-large-line-height: 28px;
    --typescale-title-medium-line-height: 24px;
    --typescale-title-small-line-height: 20px;
    --typescale-title-large-size: 22px;
    --typescale-title-medium-size: 16px;
    --typescale-title-small-size: 14px;
    --typescale-title-large-tracking: 0px;
    --typescale-title-medium-tracking: 0.15px;
    --typescale-title-small-tracking: 0.1px;

    --typescale-label-large-weight: 500;
    --typescale-label-medium-weight: 500;
    --typescale-label-small-weight: 500;
    --typescale-label-large-line-height: 20px;
    --typescale-label-medium-line-height: 16px;
    --typescale-label-small-line-height: 6px;
    --typescale-label-large-size: 14px;
    --typescale-label-medium-size: 12px;
    --typescale-label-small-size: 11px;
    --typescale-label-large-tracking: 0.1px;
    --typescale-label-medium-tracking: 0.5px;
    --typescale-label-small-tracking: 0.5px;

    --typescale-body-large-weight: 400;
    --typescale-body-medium-weight: 400;
    --typescale-body-small-weight: 400;
    --typescale-body-large-line-height: 24px;
    --typescale-body-medium-line-height: 20px;
    --typescale-body-small-line-height: 16px;
    --typescale-body-large-size: 16px;
    --typescale-body-medium-size: 14px;
    --typescale-body-small-size: 12px;
    --typescale-body-large-tracking: 0.15px;
    --typescale-body-medium-tracking: 0.25px;
    --typescale-body-small-tracking: 0.4px;
}